<?php

$title = 'exchange';
$this->headTitle($title);
?>
<h1 class="text-center"><?= $this->escapeHtml($title) ?></h1>
<table class="table text-center" id="history">
    <thead>
    <tr>
        <th class="text-center">amount given</th>
        <th class="text-center">amount desired</th>
        <th></th>
        <th class="text-center">currency given</th>
        <th class="text-center">currency desired</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($histories as $history) : ?>
        <tr>
            <td><?= $this->escapeHtml($history->amountGiven) ?></td>
            <td><?= $this->escapeHtml($history->currencyGiven) ?></td>
            <td>-></td>
            <td><?= $this->escapeHtml($history->amountDesired) ?></td>
            <td><?= $this->escapeHtml($history->currencyDesired) ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<div class="center-block" style="float:none;">
    <?php
    $form->setAttribute('action', $this->url('history', ['action' => 'add']));
    $form->prepare();

    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('id'));
    ?>
    <div class="form-group col-md-6 center-block">
        <div>
            <?php
            echo $this->formRow($form->get('amount_given'));
            ?>
        </div>

        <div>
            <?php
            echo $this->formRow($form->get('currency_given'));
            ?>
        </div>
    </div>
    <div class="form-group col-md-6 center-block">
        <div>
            <?php
            echo $this->formRow($form->get('amount_desired'));
            ?>
        </div>
        <div>
            <?php
            echo $this->formRow($form->get('currency_desired'));
            ?>
        </div>
    </div>

    <div class="form-group col-md-12 center-block">
        <?php
        echo $this->formSubmit($form->get('submit'));
        echo $this->form()->closeTag();

        ?>
    </div>
</div>
<?php
$ratesUrl = $this->url('history', ['action' => 'getCurrencyRate']);
$addActionUrl = $this->url('history', ['action' => 'add']);
?>
<script>
    $(document).ready(function () {

        var rates = function () {
            var ratesArray = null;

            $.ajax({
                url: '<?php echo $ratesUrl?>',
                dataType: "json",
                async: false,
                global: false,
                type: "GET",
                success: function (result) {
                    ratesArray = result;
                }
            });
            return ratesArray;
        }();
        $(document).on('change click keyup', '#amount-given, #currency-given, #currency-desired', function () {
            conversion('given', 'desired');

        });
        $(document).on('change click keyup', '#amount-desired', function () {
            conversion('desired', 'given');

        });
        $('form').on('submit', function (e) {
            e.preventDefault();
            var form_data = $(this).serialize(),
                table = $('#history tbody')
            ;

            $.ajax({
                url: '<?php echo $addActionUrl?>',
                data: form_data,
                dataType: "json",
                async: false,
                global: false,
                type: "POST",
                success: function (result) {
                    $('#history tbody tr:last').remove();
                    table.prepend('<tr>' +
                        '<td>' + result.amount_given + '</td>' +
                        '<td>' + result.currency_given + ' </td>' +
                        '<td>-></td>' +
                        '<td>' + result.amount_desired + '</td>' +
                        '<td>' + result.currency_desired + '</td>' +
                        '</tr>');
                }
            });

        });

        function conversion(from, to) {
            var amount_from = $('#amount-' + from).val(),
                amount_to = $('#amount-' + to),
                currency_from = $('#currency-' + from).val(),
                currency_to = $('#currency-' + to).val(),
                rate_given = rates[currency_from],
                rate_desired = rates[currency_to],
                new_value
            ;

            new_value = amount_from * rate_desired / rate_given;

            amount_to.val(parseInt(new_value));
        }
    });
</script>